################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TA/TA/bin/Debug/net6.0
/TA/TA/obj
